body {
    background: rgb(215, 237, 244);
    margin: 0;
}

#book-bunch {
    position: absolute;
    height: 74vh;
    width: 67vh;
    border-radius: 1rem;
    top: 16vh;
    left: 122vh;
}

#book-bunch:hover {
    height: 76vh;
    width: 69vh;
}

#qoute-1 {
    position: absolute;
    font-size: 6rem;
    /* text-align: start; */
    top: 28vh;
    left: 17vh;
}

.login-btn {
    font-size: 1rem;
    position: absolute;
    height: 7vh;
    width: 29vh;
    top: 65vh;
    left: 19vh;
    background-color: rgba(255, 166, 0, 0.781);
    border-radius: 0.7rem;
    font-family: sans-serif;
    border: 1px solid;
}

.login-btn:hover {
    background-color: rgba(255, 166, 0, 0.986);
}

.container {
    height: 100vh;
}

.row {
    margin-top: 16vh;
    height: 62vh;
    display: flex;
}

.middle-container {
    background-color: #B9E9FC;
    padding-top: 5rem;
}

.column {
    position: relative;
    top: 5vh;
    left: 22vh;
    margin: 30px;
    /* background: greenyellow; */
    height: 45vh;
    width: 45vh;
}

ul {
    background-color: rgba(255, 77, 0, 0.756);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 6rem;
}

.nav-bar-content {
    display: inline;
    float: left;
    font-size: 1.5rem;
    margin: 9px;
    margin-top: 22px;
}

#logo {
    padding-left: 15px;
    font-size: 2rem;
    display: inline;
    float: left;
    margin: 1rem;
}

#book3-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#book3-img:hover {
    height: 32vh;
    width: 32vh;
}

#book3-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#visul-playbutton-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#visul-playbutton-img:hover {
    height: 32vh;
    width: 32vh;
}

#visul-playbutton-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#audio-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#audio-img:hover {
    height: 32vh;
    width: 32vh;
}

#audio-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#container-middle-heading {
    margin-left: 153px;
}