body {
    background: rgb(215, 237, 244);
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

#book-bunch {
    position: absolute;
    height: 74vh;
    width: 67vh;
    border-radius: 1rem;
    top: 16vh;
    left: 122vh;
}

#book-bunch:hover {
    height: 76vh;
    width: 69vh;
}

#qoute-1 {
    position: absolute;
    font-size: 6rem;
    /* text-align: start; */
    top: 28vh;
    left: 17vh;
}

.login-btn {
    font-size: 1rem;
    position: absolute;
    height: 7vh;
    width: 29vh;
    top: 65vh;
    left: 19vh;
    background-color: rgba(255, 166, 0, 0.781);
    border-radius: 0.7rem;
    font-family: sans-serif;
    border: 1px solid;
}

.login-btn:hover {
    background-color: rgba(255, 166, 0, 0.986);
}

.container {
    height: 100vh;
    width: 100vw;
}

.row {
    margin-top: 16vh;
    height: 62vh;
    display: flex;
    /* grid-template-columns: 1fr 1fr ; */
}

.middle-container {
    background-color: #B9E9FC;
    padding-top: 5rem;
}

.column {
    position: relative;
    top: 5vh;
    left: 22vh;
    margin: 30px;
    /* background: greenyellow; */
    height: 45vh;
    width: 45vh;
}

.nav-bar-list {
    background-color: rgba(255, 77, 0, 0.756);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    padding-left: 6rem;
}

.nav-bar-content {
    display: inline;
    float: left;
    font-size: 1.5rem;
    margin: 9px;
    margin-top: 22px;
}

#logo {
    color :#ffdab9;
    padding-left: 15px;
    font-size: 2rem;
    display: inline;
    float: left;
    margin: 1rem;
}

#book3-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#book3-img:hover {
    height: 32vh;
    width: 32vh;
}

#book3-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#visul-playbutton-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#visul-playbutton-img:hover {
    height: 32vh;
    width: 32vh;
}

#visul-playbutton-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#audio-img {
    height: 30vh;
    width: 30vh;
    position: relative;
    left: 58px;
    top: 32px;
    border-radius: 15px;
}

#audio-img:hover {
    height: 32vh;
    width: 32vh;
}

#audio-img-title {
    margin-left: 140px;
    margin-top: 47px;
    font-size: 142%;
}

#container-middle-heading {
    margin-left: 153px;
}

.third-section {
    background: #FFF2CC;
    display: grid;
    /* width : 100vw; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;

}

.item {
    height: 300px;
    width: 300px;
    /* margin-top: 50px; */
    /* background-color: aqua; */
    /* border-radius: 40px; */
}

.book-content-img {
    height: 227px;
    width: 153px;
    margin-left: 58px;
    margin-top: 35px;
    /* border-radius: 3px; */
    /* place-self: center; */
}

.book-content-img:hover {
    height: 240px;
    width: 160px;
    /* margin-left: 58px; */
}

.forth-section {
    background: #ffe7cc;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
}

.fitem {
    height: 238px;
    width: 330px;
    /* background-color: aqua; */
    align-self: center;
}

.video-thumbnails-img {
    height: 213px;
    border-radius: 5px;
    width: 330px;
    border : 2px solid ;
}
.video-thumbnails-img:hover {
    height: 220px;
    width: 335px;
}
.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: #ff4d00c1 ;
    height : 125px;
    width: 100vw;
    font-size: 13px;
}
.footer-item-1 {
    font-size: 50px;
    margin-left: 68px;
    margin-top: 19px;
    color: #ffdab9;
}
.footer-item-2 {
    justify-self: center;
    font-size: 15px;
}
.footer-item-2-suscribe-btn {
    margin-left: 0px;
    font-size: 15px;
    height: 40px;
    width: 136px;
    border-radius: 12px;
    border: 2px solid;
    background-color: #443d3d;
    color: white;
}
.footer-item-2-suscribe-btn:hover {
    background-color: black;
}
.footer-item-3{
    justify-self: end;
    align-self: end;
    margin-bottom: 6px;
    margin-right: 61px;
}
.footer-item-3-img {
    height: 11px;
    width: 13px;
    border-radius: 5px;
    background-color: #ffe7cc;
}
.footer-item-3-list {
    list-style-type: none;
    padding-left: 0;
}